* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0C151D;
    flex-wrap: wrap;
}

.container {
    max-width: 790px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}